
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori</th>
        <th>Durum</th>
    </tr>
    <tr >
        <td>1</td>
        <td>Yazılım</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sağlık</td>
        <td>Aktif</td>
    </tr>
</table>
