
@{
    Layout = null;
}


<h3>Örnek Tablo - Kategori</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr >
        <td>1</td>
        <td>Yazılım</td>
        <td>Yazılım Kategorisi</td>
        <td>True</td>
    </tr>
    <tr >
        <td>2</td>
        <td>Donanım</td>
        <td>Donanım Kategorisi</td>
        <td>True</td>
     </tr>
</table>