
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tittle Güncellendi</title>
</head>
<body>

    <div>
        Burası Layout Sayfası
    </div>

    <div> 
        @RenderBody()
    </div>
</body>
</html>
